<div>
    <label>Results</label>
    <p>
    Restlessness Score <%=@restlessness%>
    </p>
    Worry Score <%=@worry%>
    <p>
    hypernormal Score <%=@hypernormal%>
    </p>
    <p>
    Total Score <%=@total%>
    </p>
    <p>
    Severity <%=@severity%>
    </p>
    <div>
    <label>We suggest these options</label>
    </div>
</div>
